<div class="container">
  <div class="row title-question">
    <div class="col-12 mt-4">
      <h2>{{ question.question }}</h2>
    </div>
  </div>

  <div class="row mt-4" [ngClass]="{'disabled-card': endQuestion == true}">
      @for (answer of question.answers; track answer;) {
        <div (click)="selectAnswer(answer)" class="card col-6" [ngClass]="{'correct': answer.selected && answer.correct, 'incorrect': answer.selected && !answer.correct}">
          <div class="card-body">
            <p class="answer">{{ answer.answer }} - {{answer.selected}}</p>
          </div>
        </div>
      }
  </div>
</div>

@if(endTrivial){
  <div class="end-question-button">
    <button type="submit" [disabled]="!endQuestion" (click)="goToResults()">Fin del Juego</button>
  </div>
}@else {
  <div class="end-question-button">
    <button type="submit" [disabled]="!endQuestion" (click)="prepareNextQuestion()">Siguiente Pregunta</button>
  </div>
}

<div class="end-question-button">
  <button type="submit" (click)="startAgain()">Volver a Jugar</button>
</div>

